extends layout

block content
    form(action="" method="POST")
        label(for="emailInput") Email Address
        input(type="text" id="emailInput" name="emailInput" placeholder="Email")
        button(type="submit") Submit