doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      header(id="navigation" class="p-navigation")
        div(class="p-navigation__banner")
          div(class="p-navigation__logo")
            a(class="p-navigtaion__link" href="/")
            img(class="p-navigation__image", src="https://assets.ubuntu.com/v1/d96d86b5-vanilla_black-orange_hex.svg" alt="Logo Image" width="95")
          a(href="#navigation" class="p-navigation__toggle--open" title="menu") Menu
          a(href="#navigation-closed" class="p-navigation__toggle--close" title="close menu") Close menu
        nav(class="p-navigation__nav" role="menubar")
          form(class="p-search-box" action="/search")
            input(type="search" class="p-search-box__input" name="q" placeholder="Search" required="")
            button(type="reset" class="p-search-box__reset" alt="reset")
              i(class="p-icon--close")
            button(type="submit" class="p-search-box__button" alt="search")
              i(class="p-icon--search")
          ul(class="p-navigation__links" role="menu")
            li(class="p-navigation__link" role="menuitem")
              a(href="/") Home
            li(class="p-navigation__link" role="menuitem")
              a(href="/about") About
            li(class="p-navigation__link" role="menuitem")
              a(href="/contact") Contact

    block main
      section(class="p-strip--light is-bordered")
        div(class="row")
          block content
